<h1>@Page.Title</h1>
<nav>
    <ul>
        <li>
            <a href="./">Main page</a>
        </li>
        <li>
            <a href="Products.cshtml">Products</a>
        </li>
        <li>
            <a href="Cart.cshtml">Cart</a>
        </li>
    </ul>
</nav>
