.login-form {
    margin: 20px;
}

.chat-window {
    width: 70%;
    margin: 20px;
}

.chat-container {
    display: flex;
}

.active-users {
    width: 30%;
    padding: 20px;
    border-left: 2px solid black;
}
